<%- include('header') -%>
    <body>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-10 center-block offset-md-1">
                    <div class="card text-center">
                        <div style="font-size: 1.5rem; font-weight:bold" class="card-header">許可申請
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" placeholder="Enter Organization Name" aria-label="Parameter"
                                    aria-describedby="basic-addon2" required="required" class="func1-input0 form-control">
                                <input type="text"
                                    placeholder="Enter Activity Name" aria-label="Parameter" aria-describedby="basic-addon2" required="required"
                                    class="func1-input1 form-control">
                                <div class="input-group-append"><button type="button" class="func1 btn btn-secondary">通過審核</button></div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">申請組織</th>
                                        <th scope="col">活動名稱</th>
                                        <th scope="col">類型</th>
                                        <th scope="col">數量</th>
                                        <th scope="col">API</th>
                                        <th scope="col">狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i< applyCerts.length ; i++) {%>
                                        <tr>
                                            <td><%= applyCerts[i].account %></td>
                                            <td><%= applyCerts[i].activityName %></td>
                                            <td><%= applyCerts[i].type %></td>
                                            <td><%= applyCerts[i].number %></td>
                                            <td><%= applyCerts[i].API %></td>
                                            <td><%= applyCerts[i].status %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(".func1").on('click', async function (e) {
            let input_0 = $(".func1-input0").val();
            let input_1 = $(".func1-input1").val();
            $.ajax({
                url: '/E-portfolio/localEducationMinistry/consentCert',
                data: { organization: input_0, activityName: input_1},
                type: 'post',
                dataType: 'json',
                success: function(res) {
                    alert(res.msg);
                },
                error: function(err) {
                    alert(err);
                }
            });
        })
    </script>
   
<%- include('footer') -%>